.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #242424;
  height: 100vh;
  font-family: sans-serif;
  font-size: larger;
  user-select: none;
}

.label {
  color: whitesmoke;
  margin-bottom: 5px;
  display: flex;
  margin-top: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 400px;
  padding: 20px;
  background-color: #333333;
  -webkit-box-shadow: 7px 1px 12px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 1px 12px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 1px 12px -1px rgba(0, 0, 0, 0.75);

}

.header {
  color: whitesmoke;
}

.input {
  font-size: large;
  height: 3rem;
  margin-bottom: 10px;
  border-radius: 5px;
  padding-left: 15px;
  width: auto;
}

.input-password {
  font-size: large;
  height: 3rem;
  border-radius: 5px;
  padding-left: 15px;
  width: calc(100% - 21px);
}

.input-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.Registerbutton {
  height: 2rem;
  width: inherit;
  height: 3rem;
  font-size: large;
  margin-top: 40px;
  font-weight: bolder;
  background-color: whitesmoke;
  border-radius: 5px;
  transition: ease-in 0.2s;
  cursor: pointer;
}

.Registerbutton:hover {
  transform: scale(1.01);

}

.Registerbutton:disabled {
  cursor: not-allowed;
  background-color: gray;
  transform: scale(1.00)


}

.attention {
  color: whitesmoke;
  font-size: 1rem;

  font-weight: 400;
}

.link {
  color: whitesmoke;
  margin-left: 5px;
}

.info {
  align-items: center;
  border: 1px solid white;
  padding: 3px 6px;
  background-color: white;
  opacity: 50%;
  border-radius: 5px;

}

.hidden {
  display: none;
}

.info-icon {
  margin-right: 3px;
}

.check {
  color: green;
  margin-left: auto;


}

.cross {
  color: red;
  margin-left: auto;


}

.show-icon {
  position: absolute;
  right: 10px;
  /* Adjust this value based on your design */
  top: 50%;
  transform: translateY(-50%);
  color: black;
  opacity: 60%;
  cursor: pointer;
}